<!--Some template for E-mail-->
{{template config_path="design/email/header_template"}}
<table>
    <h2>Not Exist Order</h2>
    <tr>{{trans "Test email : %templateVar." templateVar=$templateVar}}</tr>
</table>
{{template config_path="design/email/footer_template"}}